{
    "presets": [
      "react",
      "es2015"
    ],
    "plugins": [
      "transform-decorators-legacy",
      "transform-object-rest-spread",
      "transform-function-bind",
      ["@babel/plugin-proposal-decorators", { "legacy": true }]
    ]
    // "env": {
    //   "development": {
    //     "plugins": [
    //       "react-hox/t-loader/babel"
    //     ]
    //   }
    // }
  }